## /lib/udev/rules.d/40-usb_modeswitch.rules
## Huawei E5786
## not verified
#
## ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1506", RUN+="usb_modeswitch '%b/%k'"
ATTR{idVendor}=="12d1", ATTR{idProduct}=="1506", RUN+="usb_modeswitch '%b/%k'"
